#Created by Constraints Editor (xc6slx9-tqg144-3) - 2012/11/05
NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50%;

# PlanAhead Generated physical constraints 
NET "clk" LOC = P56;
#NET "rst_n" LOC = P38;

#NET "cclk" LOC = P70;

NET "led<0>" LOC = P134 | IOSTANDARD=LVTTL;
NET "led<1>" LOC = P133 | IOSTANDARD=LVTTL;
NET "led<2>" LOC = P132 | IOSTANDARD=LVTTL;
NET "led<3>" LOC = P131 | IOSTANDARD=LVTTL;
//NET "led<4>" LOC = P127;
//NET "led<5>" LOC = P126;
//NET "led<6>" LOC = P124;
//NET "led<7>" LOC = P123;

NET VSYNC    LOC="P120"  | IOSTANDARD=LVTTL;
NET HSYNC    LOC="P121"  | IOSTANDARD=LVTTL;
NET Blue(0)  LOC="P118"  | IOSTANDARD=LVTTL;
NET Blue(1)  LOC="P119"  | IOSTANDARD=LVTTL;
NET Green(0) LOC="P115"  | IOSTANDARD=LVTTL;
NET Green(1) LOC="P116"  | IOSTANDARD=LVTTL;
NET Green(2) LOC="P117"  | IOSTANDARD=LVTTL;
NET Red(0)   LOC="P105"  | IOSTANDARD=LVTTL;
NET Red(1)   LOC="P111"  | IOSTANDARD=LVTTL;
NET Red(2)   LOC="P112"  | IOSTANDARD=LVTTL;

//IO_L2
NET p0	LOC=P142	| IOSTANDARD=LVDS_25;
NET n0	LOC=P141	| IOSTANDARD=LVDS_25;
//IO_L3
NET p1	LOC=P140	| IOSTANDARD=LVDS_25;
NET n1	LOC=P139	| IOSTANDARD=LVDS_25;
//IO_L4
NET p2	LOC=P138	| IOSTANDARD=LVDS_25;
NET n2	LOC=P137	| IOSTANDARD=LVDS_25;
//IO_L32
NET p3	LOC=P102	| IOSTANDARD=LVDS_25;
NET n3	LOC=P101	| IOSTANDARD=LVDS_25;
//IO_L33
NET p4	LOC=P100	| IOSTANDARD=LVDS_25;
NET n4	LOC=P99	| IOSTANDARD=LVDS_25;
//IO_L34
NET p5	LOC=P98	| IOSTANDARD=LVDS_25;
NET n5	LOC=P97	| IOSTANDARD=LVDS_25;
//IO_L45
NET p6	LOC=P83	| IOSTANDARD=LVDS_25;
NET n6	LOC=P82	| IOSTANDARD=LVDS_25;
//IO_L46
NET p7	LOC=P81	| IOSTANDARD=LVDS_25;
NET n7	LOC=P80	| IOSTANDARD=LVDS_25;
//IO_L47
NET p8	LOC=P79	| IOSTANDARD=LVDS_25;
NET n8	LOC=P78	| IOSTANDARD=LVDS_25;
//IO_L2
NET p9	LOC=P33	| IOSTANDARD=LVDS_25;
NET n9	LOC=P32	| IOSTANDARD=LVDS_25;
//IO_L36
NET p10	LOC=P30	| IOSTANDARD=LVDS_25;
NET n10	LOC=P29	| IOSTANDARD=LVDS_25;
//IO_L37
NET p11	LOC=P27	| IOSTANDARD=LVDS_25;
NET n11	LOC=P26	| IOSTANDARD=LVDS_25;
//IO_L49
NET p12	LOC=P12	| IOSTANDARD=LVDS_25;
NET n12	LOC=P11	| IOSTANDARD=LVDS_25;
//IO_L50
NET p13	LOC=P10	| IOSTANDARD=LVDS_25;
NET n13	LOC=P9	| IOSTANDARD=LVDS_25;
//IO_L51
NET p14	LOC=P8	| IOSTANDARD=LVDS_25;
NET n14	LOC=P7	| IOSTANDARD=LVDS_25;
//IO_L52
NET p15	LOC=P6	| IOSTANDARD=LVDS_25;
NET n15	LOC=P5	| IOSTANDARD=LVDS_25;


#NET "spi_mosi" LOC = P44;
#NET "spi_miso" LOC = P45;
#NET "spi_ss" LOC = P48;
#NET "spi_sck" LOC = P43;
#NET "spi_channel<0>" LOC = P46;
#NET "spi_channel<1>" LOC = P61;
#NET "spi_channel<2>" LOC = P62;
#NET "spi_channel<3>" LOC = P65;
#
#NET "avr_tx" LOC = P55;
#NET "avr_rx" LOC = P59;
#NET "avr_rx_busy" LOC = P39;
